html, body {
    position: absolute;
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    object-fit: contain;
    margin: 0;
    overflow: hidden;
}

canvas {
    height: 1080;
    width: 1900;
    
}
